# MinIO / S3
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=lakehouse
MINIO_ENDPOINT=minio:9000
MINIO_SECURE=false

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=binance_trades
BINANCE_WS_URL=wss://stream.binance.com:9443/ws/btcusdt@aggTrade

# Spark / batch
BATCH_DATA_DIR=/app/infra/workspace
SPARK_LOCAL_HOSTNAME=localhost
SPARK_LOCAL_IP=127.0.0.1

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_SERVER_API_HOST=0.0.0.0
